* {
  font-size: 17px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --myColor: #059862;
}
.primaryBg {
  background-color: var(--myColor);
}
.primaryColor {
  background-color: var(--myColor);
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
img {
  max-width: 100%;
}

/* icone style */

.fa-facebook {
  color: #4267b2;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
.fa-twitter {
  color: #1da1f2;
  background-color: white;
  padding: 5px;
  border-radius: 100%;
}
.fa-youtube {
  color: #ff0000;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

/*  */

/* NavBar */

.logo {
  width: 300px !important;
}

.listItem {
  list-style: none;
  display: flex;
  justify-content: center;
}
.listItem li {
}
.listItem li a {
  color: white;
  display: inline-block;
  padding: 10px;
  transition-duration: 0.5s;
}
.listItem li a:hover {
  background-color: #07ce85;
  border-radius: 5px;
  color: #dc3545;
}

.catdTitle {
  font-size: 14px;
  margin: 0;
  padding: 3px 0;
}
.card_footer {
  display: flex;
  align-items: center;
}
.card_footer p {
  margin: 0;
  font-size: 10px;
  padding: 0 5px;
}

hr {
  margin: 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
  margin-top: 4px;
}
.footer {
  background-color: #ededed;
  padding: 20px 0;
}

/* details page */

.shareOption {
  position: relative;
}
.Option {
  width: 200px;
  position: absolute;
  top: 20px;
  right: 0;
  display: none;
  /* display: none; */
}

.Option a:hover {
  color: #059862;
}
/* .shareOption:hover .option {
  display: none;
} */

/* filttter */
.arowButton {
  background-color: white;
  border: none;
  outline: 1px solid #e3d7d7;
}
.khujubBtn {
  color: white;
  background-color: rgb(65, 61, 61);
  padding: 0 25px;
  display: flex;
  align-items: center;
}
.moreinfo {
  width: 100%;
  top: 120%;
  left: 0;
  background-color: rgb(246, 243, 243);
  z-index: 4444444444444444444444444;
  transition: 0.3s;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.show {
  height: fit-content;
  opacity: 1;
  visibility: visible;
  padding: 30px;
}
.moreInput {
  outline: 1px solid #ddd3d3;
}
.moreinfoSub {
  padding: 10px;
  width: 20%;
  outline: 1px solid #c5c5c5;
}

/* for talika  */
.onushondanm {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #ecec83;
  outline: 1px solid #ecec83;
  color: gray;
}
.onushondanm:hover {
  background: white;
  color: black;
  outline: 1px solid #ecec83;
}

/* new code  */
.onushondanm {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #ecec83;
  outline: 1px solid #ecec83;
  color: gray;
}
.onushondanm:hover {
  background: white;
  color: black;
  outline: 1px solid #ecec83;
}
.onushondhanPosition {
  top: 100%;
  z-index: 55;
  width: 100%;
  transition: 0.3s;
  overflow: hidden;
}
.bgGray {
  color: gray;
}
.bgGrayLight {
  background-color: #e2dfdf;
}

.show2 {
  height: fit-content;
  opacity: 1;
  visibility: visible;
  padding: 30px;
  transition: 0.3s;
}

/* new code end  */

.filter {
  display: grid;
  grid-template-columns: repeat(6, 4fr);
  gap: 10px;
}

@media only screen and (max-width: 320px) {
  .filter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .filter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .filter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 426px) and (max-width: 820px) {
  .filter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 821px) and (max-width: 1024px) {
  .filter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
